<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      
        <ion-button color="primary" [routerLink] = "['/reports']">Reports</ion-button>
        <ion-button color="primary" [routerLink] = "['/ocr']">OCR</ion-button>
        <ion-button color="primary" [routerLink] = "['/members']">Members</ion-button>

    
    </ion-row>
  </ion-grid>  
  
  
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>

