:root {
    --ion-color-secondary: #f92bb0;
    --ion-color-secondary-rgb: 249,43,176;
    --ion-color-secondary-contrast: #f7c0c0;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #db269b;
    --ion-color-secondary-tint: #fa40b8;
  }
  
  ion-title {
    text-align: center;
}
ion-toolbar {
    color: rgb(192, 134, 144);
}